ul{margin:0;padding:0;list-style-type:none;overflow:hidden;background-color:#d2691e}
li{float:left;}
li a{text-decoration:none;color:white;display:block;padding:30px 16px;text-align:center;margin:0px 30px;}
li a:hover{background-color:#000000;}
.ig{float:left;
    margin-bottom:20px;
	margin-right:15px;
	height:100%;
	
}
a {text-decoration:none;color:red;
	
}
.body{margin-left:70px;margin-right:70px;
	
}
footer{background-color:#d2691e;}
h2{padding:10px 10px;
   text-weight:thin;
   text-align:center;}
.powered{padding:25px 25px;
         margin-bottom:25px;
		 padding-bottom:15px;}
.con{text-align:center;
     color:white;padding-top:15px;
	 padding-bottom:15px;
	 margin-bottom:30px;}
	 .hv:hover{opacity:0.4;}
	 .time{float:right;
	       color:red;
		   font-size:10px;
		 }